.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ce2a2a;
  min-height: 9vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo {
  max-height: 100px; /* Adjust this value as needed */
  height: auto;
  margin: 10px;
}
.button-group {
  display: flex;
  gap: 10px; /* Optional, to add some space between buttons */
  margin: 10px;
  padding-right: 10px;
}

.home-container {
  background-color: #f5ebe0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items towards the top */
  align-items: center;
  height: 100vh; /* Full viewport height */
}

.home-container .btn {
  width: 200px; /* Custom button width */
  margin: 10px; /* Space between buttons */
}

.main-section {
  background-color: #f5ebe0;
}


.history {
  display:grid;
  grid-template-rows:auto; 
  border-top: 1px solid #000001;
  border-bottom: 1px solid #000001;
}


.history-item > * {
  grid-template-columns:1fr 1fr 1fr 1fr;
  padding: 5px 20px
}

input:invalid {
  background-color: ivory;
  border: none;
  outline: 2px solid red;
  border-radius: 5px;
}

.avtar-small{
  max-height:50px;
}

.red-text{
 color: red;
}

.green-text{
 color: green;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #f5ebe0;
}


.main-section-rules h1 {
  text-align: center;
  margin-top: 0;
}

.main-section-rules p {
  column-count: 1; /* Creates a two-column newspaper layout */
  column-gap: 20px; /* Adjust the gap between columns */
  text-align: justify; /* Justifies the text */
  margin-left: 20%;
  margin-right: 20%;
}

.main-section-rules {
  background-color: #f5ebe0;
  flex: 1;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

.main-section-game {
  text-align: center;
}
