.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ce2a2a;
  min-height: 9vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo {
  max-height: 100px; /* Adjust this value as needed */
  height: auto;
  margin: 10px;
}
.button-group {
  display: flex;
  gap: 10px; /* Optional, to add some space between buttons */
  margin: 10px;
  padding-right: 10px;
}

.home-container {
  background-color: #f5ebe0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items towards the top */
  align-items: center;
  height: 100vh; /* Full viewport height */
}

.home-container .btn {
  width: 200px; /* Custom button width */
  margin: 10px; /* Space between buttons */
}

.main-section {
  background-color: #f5ebe0;
}




.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
